{% extends "base.html" %}

{% block content %}
    <script>
    var urlLP = '{{ url_for("goal_value", side="left", value="1") }}';
    var urlLM = '{{ url_for("goal_value", side="left", value="-1") }}';
    var urlRP = '{{ url_for("goal_value", side="right", value="1") }}';
    var urlRM = '{{ url_for("goal_value", side="right", value="-1") }}';

    function adjustScore(side, value) {

        var url = "";

        if (side == "left") {
            if (value == "1") {
                url = urlLP;
            } else if (value == "-1") {
                url = urlLM;
            }
        } else if (side == "right") {
            if (value == "1") {
                url = urlRP;
            } else if (value == "-1") {
                url = urlRM;
            }
        }

            $.ajax({
            type:'POST',
            url: url,
            success:function(data) {
                // Do the handling here
            },
            error:function() {
                alert("Sorry, Ajax call Failed");
            }
        });

    }
    </script>

    <div class="container game">
        <div class="container h1">

            <div class="col-xs-2 text-center">
                <div class="thumbnail">
                    <img src="{{ game.team_left.defense_player.photo }}"/>
                    {{ game.team_left.defense_player.name }}
                </div>
                <div class="thumbnail">
                    <img src="{{ game.team_left.attack_player.photo }}"/>
                    {{ game.team_left.attack_player.name }}
                </div>
            </div>

            <div class="col-xs-1 text-center">
                <button type="button" class="btn btn-default" aria-label="Plus" onclick="adjustScore('left', '1');">
                    <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Minus" onclick="adjustScore('left', '-1');">
                    <span class="glyphicon glyphicon-minus" aria-hidden="false"></span>
                </button>
            </div>

            <div class="col-xs-6 text-center score">
                <span id="game_score">{{ game.score_left }} x {{ game.score_right }}</span>

                {% if not game.ended %}
                <div class="text-center h1">
                    <div class="time">
                        Time left: <span id="time_left">{{ game.time_left_string() }}</span>
                    </div>


                    <div class="btn btn-lg btn-success center-block end_game_btn">
                        <a href="{{ url_for('end_game', timestamp=game.timestamp)  }}">End Game</a>
                    </div>

                </div>
                {% else %}
                  <div class="text-center h3">
                  <hr/>
                    <span class="timestamp">
                        <a href={{ url_for('games_get', timestamp=game.timestamp) }}>
                            {{ game.timestamp }}
                        </a>
                    </span>
                    <span class="summary">
                         {{  game.summary() }}
                    </span>
                  </div>
                {% endif %}
            </div>

            <div class="col-xs-1 text-center">
                <button type="button" class="btn btn-default" aria-label="Plus"  onclick="adjustScore('right', '1');">
                    <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Minus"  onclick="adjustScore('right', '-1');">
                    <span class="glyphicon glyphicon-minus" aria-hidden="false"></span>
                </button>
            </div>

            <div class="col-xs-2 text-center">
                <div class="thumbnail">
                    <img src="{{ game.team_right.attack_player.photo }}"/>
                    {{ game.team_right.attack_player.name }}
                </div>
                <div class="thumbnail">
                    <img src="{{ game.team_right.defense_player.photo }}"/>
                    {{ game.team_right.defense_player.name }}
                </div>
            </div>
        </div>


    </div>


    <hr/>

    <div class="container">

    <div class="h2 text-center">Start a new game</div>



    <form action="{{ url_for('games_get_post') }}" method=post class="container">
    <div class="col-xs-5 col-xs-offset-2">
        <label for="leftTeam" class="h2">Yellow Team</label>
        <div class="form-group row" id="leftTeam">
            <div class="col-xs-4">
                <label for="leftDefense">Defense</label>
                <div class="picker">
                    <select name="left_defense_player_name" id="leftDefense" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_left.defense_player.name) %}
                                <option data-img-src="{{player.photo}}" name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}" name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <label for="leftAttack">Attack</label>
                <div class="picker">
                <select name="left_attack_player_name" id="leftAttack" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_left.attack_player.name) %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}
                        {% endfor %}
                </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <label for="rightTeam" class="h2">White Team</label>
        <div class="form-group row" id="rightTeam">
            <div class="col-xs-4">
                <label for="rightAttack">Attack</label>
                <div class="picker">
                <select name="right_attack_player_name" id="rightAttack" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_right.attack_player.name) %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}

                        {% endfor %}
                </select>
                </div>
            </div>
            <div class="col-xs-4">
                <label for="rightDefense">Defense</label>
                <div class="picker">
                <select name="right_defense_player_name" id="rightDefense" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_right.defense_player.name) %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}
                        {% endfor %}
                  </select>
                </div>
            </div>
        </div>
    </div>
        <input type=submit value="New game" class="btn btn-lg center-block btn-success">
    </form>






    <div class="container">

    </div>

    <script>
        var url = location.href.replace('games', 'games/ajax')
        var interval = setInterval(function() {
            $.getJSON(url, function(json) {
                if (json.ended) {
                    clearInterval(interval);
                    $('#time_left').html(json.time)
                    $('#game_score').html(json.score)
                    //window.location.reload(true);
                }
                else {
                    $('#time_left').html(json.time)
                    $('#game_score').html(json.score)
                }
            })
        }, 1000)
    </script>

    <script>
        $("select").imagepicker()
    </script>


{% endblock %}
