{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}

    <form action="{{ url_for('games_get_post') }}" method=post class="container">
    <div class="col-xs-5 col-xs-offset-2">
        <label for="leftTeam" class="h2">Yellow Team</label>
        <div class="form-group row" id="leftTeam">
            <div class="col-xs-4">
                <label for="leftDefense">Defense</label>
                <div class="picker">
                    <select name="left_defense_player_name" id="leftDefense" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_left.defense_player.name) %}
                                <option data-img-src="{{player.photo}}" name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}" name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <label for="leftAttack">Attack</label>
                <div class="picker">
                <select name="left_attack_player_name" id="leftAttack" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_left.attack_player.name) %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}
                        {% endfor %}
                </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <label for="rightTeam" class="h2">White Team</label>
        <div class="form-group row" id="rightTeam">
            <div class="col-xs-4">
                <label for="rightAttack">Attack</label>
                <div class="picker">
                <select name="right_attack_player_name" id="rightAttack" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_right.attack_player.name) %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}

                        {% endfor %}
                </select>
                </div>
            </div>
            <div class="col-xs-4">
                <label for="rightDefense">Defense</label>
                <div class="picker">
                <select name="right_defense_player_name" id="rightDefense" class="form-control image-picker">
                        {% for player in players %}
                            {% if (game is defined) and (player.name == game.team_right.defense_player.name) %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}" SELECTED>{{ player.name|safe  }}</option>
                            {% else %}
                                <option data-img-src="{{player.photo}}"name="{{ player.name  }}">{{ player.name|safe  }}</option>
                            {% endif %}
                        {% endfor %}
                  </select>
                </div>
            </div>
        </div>
    </div>
        <input type=submit value="New game" class="btn btn-lg center-block btn-success">
    </form>


    <hr/>

    <div class="container">
        <p class="h2">Previous games</p>

        <div class="game">
          {% for game in games %}
              <div class="{{ loop.cycle('odd', 'even') }}">
                <span class="timestamp">
                    <a href={{ url_for('games_get', timestamp=game.timestamp) }}>
                        {{ game.timestamp }}
                    </a>
                </span>
                <span class="summary">
                     {{  game.summary() }}
                </span>
              </div>
          {% else %}
            <em>Unbelievable.  No games yet, please add</em>
          {% endfor %}
        </div>
    </div>


    <script>
        $("select").imagepicker()
    </script>

{% endblock %}

