{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}


{% block head %}
    {{super()}}
{%- endblock %}

{% block content %}


    <div class="container">

        <div class="col-xs-2">
            <div class="h3">Player</div>
            <div class="row">
              {% for pos, player in players_ranking %}
                <div class="thumbnail col-md-12 col-xs-12">
                    <a href="{{ url_for('players_name_get', name=player.name) }}">
                        <img src="{{ player.photo }}" class="player" alt="{{ player.name|safe }}" />
                        <div class="caption post-content h3 text-center">
                            {{ player.name }}
                        </div>
                        <div class="caption text-center">{{ pos+1 }}: {{ player.player_stats.elo_rating_str() }}</div>
                    </a>
                </div>
              {% else %}
                <em>Unbelievable.  No players, please add</em>
              {% endfor %}

            </div>
        </div>

        <div class="col-xs-offset-1 col-xs-2">
            <div class="h3">Attack</div>
            <div class="row">
              {% for pos, player in attack_ranking %}
                <div class="thumbnail col-md-12 col-xs-12">
                    <a href="{{ url_for('players_name_get', name=player.name) }}">
                        <img src="{{ player.photo }}" class="player" alt="{{ player.name|safe }}" />
                        <div class="caption post-content h3 text-center">
                            {{ player.name }}
                        </div>
                        <div class="caption text-center">{{ pos+1 }}: {{ player.player_stats.elo_rating_str() }}</div>
                    </a>
                </div>
              {% else %}
                <em>Unbelievable.  No players, please add</em>
              {% endfor %}

            </div>
        </div>


        <div class="col-xs-offset-1 col-xs-2">
            <div class="h3">Defense</div>
            <div class="row">
              {% for pos, player in defense_ranking %}
                <div class="thumbnail col-md-12 col-xs-12">
                    <a href="{{ url_for('players_name_get', name=player.name) }}">
                        <img src="{{ player.photo }}" class="player" alt="{{ player.name|safe }}" />
                        <div class="caption post-content h3 text-center">
                            {{ player.name }}
                        </div>
                        <div class="caption text-center">{{ pos+1 }}: {{ player.player_stats.elo_rating_str() }}</div>
                    </a>
                </div>
              {% else %}
                <em>Unbelievable.  No players, please add</em>
              {% endfor %}

            </div>
        </div>

        <div class="col-xs-offset-1 col-xs-2">
            <div class="h3">Team</div>
            <div class="row">
              {% for pos, team in team_ranking %}
                <div class="thumbnail col-md-6 col-xs-6">
                    <a href="{{ url_for('players_name_get', name=team.defense_player.name) }}">
                        <img src="{{ team.defense_player.photo }}" class="player" alt="{{ team.defense_player.name|safe }}" />
                        <div class="caption post-content h3 text-center">
                            {{ team.defense_player.name }}
                        </div>
                    </a>
                </div>
                <div class="thumbnail col-md-6 col-xs-6">
                    <a href="{{ url_for('players_name_get', name=team.attack_player.name) }}">
                        <img src="{{ team.attack_player.photo }}" class="player" alt="{{ team.attack_player.name|safe }}" />
                        <div class="caption post-content h3 text-center">
                            {{ team.attack_player.name }}
                        </div>
                    </a>
                </div>
                <div class="caption text-center">{{ pos+1 }}: {{ team.team_stats.elo_rating_str() }}</div>
              {% else %}
                <em>Unbelievable.  No teams, please add</em>
              {% endfor %}

            </div>
        </div>

    </div>





{% endblock %}