{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}


{% block head %}
    {{super()}}
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Timestamp', 'Elo-Rating'],
        {% for stat in team_stats %}
          ['{{ stat.timestamp }}', {{ stat.elo_rating }}],
        {% endfor %}
        ]);

        var options = {
          title: 'Team Elo Rating Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('team_elo'));

        chart.draw(data, options);
      }
    </script>




{%- endblock %}


{% block content %}

    <div class="container">

  <div class="container">
        <div class="col-xs-4 h2">
            <a href="{{ url_for('teams_name_get', team_id=team.team_id) }}">
                {{ team.summary() }} <br/>

                <div class="thumbnail col-md-6 col-xs-6">
                    <a href="{{ url_for('players_name_get', name=team.defense_player.name) }}">
                        <img src="{{ team.defense_player.photo }}" class="player" alt="{{ team.defense_player.name|safe }}" />
                        <div class="caption post-content h4 text-center">
                            Defense: {{ team.defense_player.name }}
                        </div>
                    </a>
                </div>

                <div class="thumbnail col-md-6 col-xs-6">
                    <a href="{{ url_for('players_name_get', name=team.attack_player.name) }}">
                        <img src="{{ team.attack_player.photo }}" class="player" alt="{{ team.attack_player.name|safe }}" />
                        <div class="caption post-content h4 text-center">
                            Attack: {{ team.attack_player.name }}
                        </div>
                    </a>
                </div>
            </a>

        </div>

    </div>

    <div class="container">

        <div class="col-xs-7">
            <div class="h2">Team Stats</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <td>Timestamp</td>
                    <td>Wins</td>
                    <td>Draws</td>
                    <td>Losses</td>
                    <td>Goals+</td>
                    <td>Goals-</td>
                    <td>Elo</td>
                </thead>

                {% for stat in team_stats %}
                    <tr>
                        <td>{{stat.timestamp}}</td>
                        <td>{{stat.wins}}</td>
                        <td>{{stat.draws}}</td>
                        <td>{{stat.losses}}</td>
                        <td>{{stat.goals_pro}}</td>
                        <td>{{stat.goals_against}}</td>
                        <td>{{"%2.2f"%stat.elo_rating}}</td>
                    </tr>
                {% else %}
                {% endfor %}


            </table>
        </div>

        <div class="col-xs-5">
            <div class="h2">Elo Rating</div>
            <div id="team_elo"></div>
        </div>


    </div>

{% endblock %}